/.quarto/
projects/consumer_complaints.csv
projects/nhl_players/nhl_players.csv
projects/video_games/vgchartz-2024.csv
projects/vancouver_311/vancouver_311_requests.csv
projects/spotify/spotify-2023.csv